<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.aistorybook.com">AI Storybook</a></strong>
			- AI Storybook enables anyone to write and illustrate an original children's story in minutes. 
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/blennon/storybot">StoryBot</a></strong>
			- I built a conversational chatbot using GPT-3 to collect your preferences and write a story.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/blennon/wordsim">Wordsim</a></strong>
			- I fell in love with natural language processing early on and was enchanted by the idea of getting a computer to understand meaning. 
			I built some models in Python that create vector representations of words that capture semantics by factoring word co-occurrence matrices. 
			This was before word2vec was published but operates on similar principles. I also worked with <a href="https://mobile.twitter.com/rmcl">Russell McLoughlin</a>
			to build a language generation model based on <a href="http://www.scholarpedia.org/article/Confabulation_theory_(computational_intelligence)">Confabulation Theory</a>.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong>Ph.D. in AI @ UC San Diego</strong>
			- I joined <a href="https://en.wikipedia.org/wiki/Robert_Hecht-Nielsen">Professor Robert Hecht-Nielsen's</a> lab at the University of California, San Diego to study
			artificial intelligence and neuroscience. 
			<ul>
				<li>I built neural networks to simulate and study the function of the cerebellum.</li>
				<li>I won an NSF scholarship to study in Japan where I collaborated with <a href="http://numericalbrain.org/en/">Professor Tadashi Yamazaki</a>.
					We <a href="https://www.sciencedirect.com/science/article/pii/S0168010218305091?via%3Dihub">proposed</a> a "radical" theory that the cerebellum performs reinforcement learning.</li>
				<li>I TAed Robert's popular course "Neurocomputing" (ECE 270 A-B-C) where we covered topics like multi-layer perceptrons, self-organizing maps, natural language processing, computer vision, etc.</li>
				<li>Fun fact: <a href="https://twitter.com/hubermanlab?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Andrew Huberman</a> taught my graduate neuroanatomy course.</li>
			</ul>
			
		</h5>
		<figure>
			<img width="75%" src="{{ site.baseurl }}static/img/grossberg.jpeg" alt="Dinner with Robert Hecht-Nielsen, Stephen Grossberg and my lab mates.">
			<figcaption>Dinner with Robert Hecht-Nielsen, Stephen Grossberg and my lab mates, <a href="https://twitter.com/crude2refined">Mehrdad Yazdani</a> and Geoff Gamble.</figcaption>
		</figure>
		
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong>Undergrad @ Berkeley</strong>
			- I went to UC Berkeley and studied mathematics and business administration. I interned at tech startups in the Silicon Valley,
			Attributor and FirstToFile. 
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong>Trebuchet</strong>
			- In high school, two friends and I built a trebuchet, a medieval siege weapon. We were advised by Dr. Robert Hecht-Nielsen,
			who would become my friend, mentor and Ph.D. advisor.
		</h5>
		
		<figure>
			<img width="75%" src="{{ site.baseurl }}static/img/trebuchet.jpeg" alt="Our trebuchet and project adviser.">
			<figcaption>Our trebuchet and project adviser.</figcaption>
		</figure>
    </div>
  </div>
</div>
</section>
