<section id="publications">
<div class="container">
  <h3>Publications</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<a href="https://www.sciencedirect.com/science/article/pii/S0168010218305091?via%3Dihub">Revisiting a theory of cerebellar cortex</a>. <i>Neuroscience Research</i> (2019). Tadashi Yamazaki, William Lennon.
		</h5>
		<h5>
			<a href="https://escholarship.org/content/qt9n45f5rz/qt9n45f5rz_noSplash_2278e80c85f0ed34051ac2bae277ac1f.pdf">Towards more biologically plausible computational models of the cerebellum
				with emphasis on the molecular layer interneurons</a>. <i>Doctoral Dissertation</i> (2015). William Lennon.
		</h5>
		<h5>
			<a href="https://dx.doi.org/10.3389/fncom.2015.00150">A Model of In vitro Plasticity at the Parallel Fiber—Molecular Layer Interneuron Synapses</a>. <i>Frontiers in Computational Neuroscience</i> (2015). William Lennon, Tadashi Yamazaki, Robert Hecht-Nielsen.
		</h5>
		<h5>
			<a href="https://dx.doi.org/10.1073/PNAS.1413798112">Modeling memory consolidation during posttraining periods in cerebellovestibular learning.</a> <i>PNAS</i> (2015). Tadashi Yamazaki, Soichi Nagao, William Lennon, Shigeru Tanaka.
		</h5>
		<h5>
			<a href="https://dx.doi.org/10.3389/fncom.2014.00157">A spiking network model of cerebellar Purkinje cells and molecular layer interneurons exhibiting irregular firing.</a> <i>Frontiers in Computational Neuroscience</i> (2014). William Lennon, Tadashi Yamazaki, Robert Hecht-Nielsen.
		</h5>
		<h5>
			<a href="https://dx.doi.org/10.1016/J.NEUNET.2011.01.006">Neural network tomography: Network replication from output surface geometry.</a> <i>Neural Networks</i> (2011). Rupert Minnett, Andrew Smith, William Lennon, Robert Hecht-Nielsen.
		</h5>

    </div>
  </div>
</div>
</section>
